#main {
    display: flex;
    width: 75%;
    margin: auto;
    z-index: 1;
    position: relative;
    min-height: 100vh;
    
}
#container_1,
#container_2,
#container_3,
#container_4,
#container_5,
#container_6{
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    /* border: 1px solid red; */

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
img {
    background-color: rgb(248, 247, 245);
    
}

h1 {
    font-size: 30px;
    font-weight: bolder;
    /* margin-left: 600px; */
    margin-bottom: 30px;
    margin-top: 20px;

}

#flex4 {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

button {
    border-radius: 20px;
    color: white;
    border: none;
    background-color: rgb(228, 0, 43);
    margin-bottom: 20px;
   
}

button:hover {
    background-color: rgb(204, 6, 42)

}

img:hover {
    transform: scale(1.05);
}

#left {
    width: 20%;
    /* position: fixed; */
     margin-right: 20px 
        /* background-color: white; */
}
#left > h1{
    font-size: 28px ;

};