body{
    background-color: white;
}

#signIn{
    text-align: center;
    font-size:18px;
    color:#4c5258 ;
    margin-top: 70px;
}
#image{
    margin-left:600px;
    margin-top:18px;
}
#sentence{
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#phone{
    margin-left:430px;
    margin-top:3px;
    padding:10px 70px 10px 30px;
    font-size:18px;
    border:none;
    border-bottom:1px solid black;
}

#para{
    margin-top:35px;
    text-align: center;
}

#btn{
    margin-left:570px;
    margin-top:30px;
    background-color: black;
    color:white;
    border-radius: 15px;
    padding:7px 20px 7px 20px;

}

#anchor1{
    color:white;
    text-decoration: none;
}

.sub{
    margin:auto;
    height:50px;
    border-radius: 28px;
    font-weight: bold;
    color:#202124;
    border:1px solid #202124;
    width:35%;
    margin-left:420px;
    margin-top:-8px;
    background-color: white;
}

.or{
    text-align: center;
    margin-left:24px;
}