*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aref Ruqaa', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
   
}
body{
    transition: ease-in 0.4s;
}

.kfc-poster{
    display: block;
    cursor: pointer;
    height: 380px;
    transition: ease-in-out 0.6s;
    z-index:1;
}
#preload {
    background: white url(https://online.kfc.co.in/KFC_Loader_Gif.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100; 
    opacity: 0.9; 
}

/* navbar start */
img{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
#navbar{
    height: 103px;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
#menu-section{
    width: 301px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    margin-right: 400px;
}
#menu-section a{
    text-decoration: none;
    color: #000;

}
#account-section{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    justify-items: center;
}
#account-section h2{
    font-size: 16px;
    font-weight: 700;
}
.value{
    border-left: 0.5px solid gray;
    height: 31px;
    display: flex;
    padding-left: 20px;
    padding-right: 58px;
    padding-top: 1px;
}

#bucket{
    background-image: url(https://images.ctfassets.net/wtodlh47qxpt/6qtBVFuno7pdwOQ9RIvYm9/d13e9b7242980972cf49beddde2cc295/bucket_cart_icon.svg);
    height:40px;
    width: 40px;
}
#rupee{
    color: black;
    margin-top: 8px;
}
#no-of-items{
    padding-left: 16px;
    padding-top: 10px;
    color: black;
}
#sign-in{
    padding-right: 29px;
    
}
#sign-in a{
    color: #000;
    font-weight: bold;
}
/* navbar end */
/* bottom section start */
#start-order{
    display: flex;
    height: 68px;
    background: #202124;
}
.head-bottom-parent{
    display: flex;
    margin: 0.9% auto;
}
#start-order .head-bottom-parent .header-bottom{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
    margin: auto 14px auto auto;
    /* font-family: "National 2 Condensed"; */
}
#start-order .head-bottom-parent .red-btn{ 
    font-weight: 500; 
    font-size: 16px;
    padding: 11px 40px;
    border-radius: 200px;
    height: 44px;
    text-align: center;
    align-items: center;
    flex-direction:row;
    font-style: normal;
    line-height: 24px;
    cursor: pointer;
    background: #e4002b;
    color: #fff;
}
#left-container{
    background: rgb(248, 246, 246);
    height: 140px;
}
.threelines{
    width: 40px;
    height: 20px;
    margin-left: 13%;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background: repeating-linear-gradient(90deg, #e4002b,#e4002b 8px,#fff 0,#fff 16px);
    background-image: repeating-linear-gradient(90deg,rgb(228,0,43),rgb(228,0,43) 8px,rgb(255,255,255) 0px,rgb(255,255,255) 16px);
}  
.heading{
    font-size: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    text-transform: uppercase;
    color: #202124;
    margin-top: 29.71px;
    margin-bottom: 31px;
    margin-left: 13%;
}
.parent-browser{
    margin: 0.2%;
    display: flex;
    width: auto;
}
.parent-browser .browse{
    margin-left: 151px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 43px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #202124;
    margin-top: 100px;
    margin-bottom: 55px; 
}
.parent-browser .horizontal-line{
    width: 44%;
    height: 2px;
    background-color: rgb(180,174,174);
    margin-top: 119px;
    margin-left: 10px;
}
.container1{
    margin-left: 151px;
    width: 80%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    text-transform: uppercase;
    grid-gap: 10px;
}


.continaer{
    background: #f8f7f5;
    height: 250px;
}
.small-boxes{
    cursor: pointer;
    height: 300px;
    margin-right: 30px;
    text-align: center;
}
.small-boxes img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}
.small-boxes h4{
    margin-top: 20px;
    color: #000;
}
span{
    content: "\27F6";
}
.threelines1{
    width: 60px;
    height: 40px;
    margin-left: 13%;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background: repeating-linear-gradient(90deg, #e4002b,#e4002b 8px,#000 0,#000 16px);
    background-image: repeating-linear-gradient(90deg,rgb(228,0,43),rgb(228,0,43) 8px,rgb(34, 31, 38) 0px,rgb(34, 31, 38) 16px);
}  
#kfc{
    background: rgb(34, 31, 38);
}
#allData{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

}
.pre-btn,
.nxt-btn{
    border: none;
    width: 60px;
    height: 60px;
    position: absolute;
    padding-top: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(181, 174, 174) 0%, grey 100%);
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    margin-top: 13%;
}
.pre-btn {
    left: 8%;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 5%;
  }
.container2{
    padding-right: 80px;
    height: 400px;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 10px;
    padding-left: 40px;
    width: 100%;
}
.container2 div img{
   height: 250px;
   width: 119%;
}
.offer-card{
    height: 500px;
}
#kfc2{
    display: flex;
    justify-content: space-around;
    color: #fff;
    margin-top: 20px;
    margin-left: -7%;
}
.new-container{
    overflow: hidden;
    display: flex;
    color: #fff;
    margin-left: 1%;
    margin-top: 20px;
}
.offer-details{
    height: 43px;
    font-size: 38px;
    font-weight: 700;
    line-height: 43px;
    color: #e4002b;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.offer-card-text{
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    overflow:hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: center;
}
.offer-button{
    display: flex;
    justify-content: space-evenly;
    width: 130%;
    margin-bottom: 30px;
    align-items: baseline;
}
.offer-view{
    text-decoration: underline;
    padding: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #494949;
    border: none;
}
.offer-redeem{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 100px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 10px;
    transition: ease-in 0.4s;
}
.offer-redeem:hover{
    background-color: #000;
    color: white;
    transition: 0.3s ease-in-out;
}

/* footer part  */
#kfc-logo1{
    margin-right: 100px;
}
#footer>a,p,ul{
    color: white;
}
img,a{
    cursor: pointer;
    text-decoration: none;
    color:white;
}
#footer{
    width:100%;
    height: 500px;
    margin:auto;
    color:white;
    background-color: rgb(34, 31, 38);
    padding:50px;
}
.find{
    margin-top: -119px;
    text-decoration: underline;
}
.play-store{
    margin-top: -100px;
}
#offersanddeals{
    display: flex;
    height: 100px;
    width: 70%;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin:auto
}
li{
    list-style: none;
}
#allsection{
    display: flex;
    justify-content: space-evenly;
    width:90%;
    margin: auto;
    align-items: center;
    justify-items: center;
    line-height: 30px;
    padding: 100px 0px 100px 0px;
}
#location{
    color:red;
    cursor: pointer;
}
#end{
    display: flex;
    width: 50%;
    margin:auto;
    justify-content: space-between;
}
#social{
    justify-content: end;
    margin-top: 33px;
    padding-left: 10px;
}
.copyright{
    margin-top: 46px;
    color: #DBDBDB;
    font-size: 16px;
    text-align: center;
    align-items: center;
    line-height: 12px;
}
#whole-body{
    width: min(100% -2rem,600px);
    margin-inline: auto;
}
@media screen and (max-width:900px){
#menu-section {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.kfc-poster img{
    height: 380px;
}
#menu-section img{
    position: relative;
    margin-left: 440%;
}
#menu-section a{
    opacity: 0;
}
#account-section #sign-in{
   opacity: 0;
}
.value{
    display: flex;
}
.value #bucket{
   height: 50px;
   width: 50px;
}
#start-order{
    height:170px;
}
.head-bottom-parent{
    display: grid;
}
.red-btn{
    /* display: flex; */
    width: 200px;
    margin-left: 130px;
    font-size: 14px;
}
.red-btn span{
    display: flex;
    font-size: 14px;
    padding-left: 20px;
}
.threelines{
   margin-left: 400px;
}
.heading{
    text-align: center;
    font-size: 24px;
    margin-left: 40px;
}
.container1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 1400px;
    grid-gap: 25px;
}
#footer{
    opacity: 0;
    background-color: rgb(34, 31, 38);
}
.threelines1{
    margin-left: 400px;
}
.pre-btn,
.nxt-btn{
   height: 40px;
   width: 40px;
}
#kfc2{
    display: grid;
}
#kfc2 h1{
    margin-left: 100px;
}
#kfc2 p{
    margin-left: 100px;
    text-align: center;
}
.container2{
    width: 40%;
    height: 380px;
   
}
.container2 img{
    height: 200px;
}
.new-container{
    margin-left: -10%;
    margin-right: 150px;
    height:500px ;
}
}



