
*{
        margin: 0;
        padding: 0;
        box-sizing:unset;
        font-family: 'Aref Ruqaa', serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-stretch: condensed;
    text-decoration: none;
    color: black;
}
/* the header and footer part */
img{
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: black;
  }
  #navbar{
    height: 103px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 7;
     top: 0;
    background-color: white;
  }
  #menu-section{
    width: 301px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    margin-right: 400px;
  }
  #menu-section a{
    text-decoration: none;
    color: #000;
  }
  #account-section{
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    justify-items: center;
    margin-left: 150px;
  }
  #account-section h2{
    font-size: 16px;
    font-weight: 700;
  }
  .value{
    border-left: 0.5px solid gray;
    height: 31px;
    display: flex;
    padding-left: 20px;
    padding-right: 58px;
    padding-top: 1px;
  }
  #bucket{
    background-image: url(https://images.ctfassets.net/wtodlh47qxpt/6qtBVFuno7pdwOQ9RIvYm9/d13e9b7242980972cf49beddde2cc295/bucket_cart_icon.svg);
    height:40px;
    width: 40px;
  }
  #rupee{
    color: black;
    margin-top: 8px;
  }
  #no-of-items{
    padding-left: 15px;
    padding-top: 11px;
    color: black;
    font-size: 14px;
    font-weight: 600;
  }
  #sign-in{
    padding-right: 29px;
  }
  #sign-in a{
    color: #000;
    font-weight: bold;
  }
  #kfc-logo1{
    margin-right: 100px;
  }
  #footer>a,#footer p,#footer ul,#footer h5{
    color: white;
    font-size: 14px;
  }
  img,a{
    cursor: pointer;
    text-decoration: none;
    color:white;
  }
  #footer{
    width:100%;
    height: 500px;
    margin:auto;
    color:white;
    background-color: rgb(34, 31, 38);
    padding:50px;
  }
  .find{
    margin-top: -119px;
    text-decoration: underline;
  }
  .play-store{
    margin-top: -100px;
  }
  #offersanddeals{
    display: flex;
    height: 100px;
    width: 70%;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin:auto
  }
  #footer li{
    list-style: none;
    margin: 0px;
    padding: 4px;
    color: white;
    border: 0px;
  }
  #allsection{
    display: flex;
    justify-content: space-evenly;
    width:90%;
    margin: auto;
    align-items: center;
    justify-items: center;
    line-height: 30px;
    padding: 100px 0px 100px 0px;
  }
  #location{
    color:red;
    cursor: pointer;
  }
  #end{
    display: flex;
    width: 50%;
    margin:auto;
    justify-content: space-between;
  }
  #social{
    justify-content: end;
    margin-top: 33px;
    padding-left: 10px;
  }
  #footer #end .copyright h5 {
    margin-top: 46px;
    color: #DBDBDB;
    font-size: 16px;
    text-align: center;
    align-items: center;
    line-height: 12px;
  }



                                           /* ends */
#blackline {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 110px;
    background-color: black;
    padding-top: 25px;
    color: white;
    font-weight: 700;
    font-size: 17px;
}

#blackline button {
    margin-top: -13px;
    padding: 18px 30px 15px 30px;
    margin-left: 20px;
    border-radius: 50px;
    color: white;
    border: 0px;
    background-color: red;
    font-weight: 600;
}
#cart_container {
    width: 85%;
    margin: auto;
}
#part1 h1 {
    letter-spacing: -1.2px;
    font-size: 40px;
    font-weight: 800;
    
}

#part4 {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5%;
    margin-bottom: 60px;
}
ul {
    font-size: 18px;
    /* padding: 25px 20px 25px 0px; */
   
}
ul>li {
    list-style: none;
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.371);
}
li>label {
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-size: 19px;
     cursor: pointer;
     font-weight: 600;
     margin-top: 10px;
}
li>label p {
   width: 80%;
   font-weight: 500;
   line-height: 30px;
   color: rgba(0, 0, 0, 0.838);
}
li>label>span {
    transform: rotate(90deg);
    font-size: 22px;
    margin-top: -18px;
    color: rgba(0, 0, 0, 0.718);
}
#arrow {
    transform: rotate(270deg);
}
ul input[type="checkbox"] {

     display: none;
}

ul .firstc {
    margin-top: 20px;
    padding: 0px 10% 0px 0px;
    line-height: 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    font-size: 16.2px;
    font-weight: 500;
}
.firstc p {
    color: rgba(0, 0, 0, 0.73);
}
ul label + input[type="checkbox"]:checked + .firstc {
    max-height: 180px;
}
#part4 h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid  rgba(128, 128, 128, 0.371);
    font-weight: 800;
    font-size: 20px;
}
#part4 button {
    width: 25%;
    margin-top: 20px;
    padding: 2%;
    padding-bottom: px;
    border-radius: 50px;
    height: 50px;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
    border-width: 1px;
}
#part4 button:hover{
    color: white;
    background-color: black;
}
#part4 button:nth-child(3){
    margin-left: 30px;
}
#noitems {
    width: 100%;
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
    background-color: #f8f7f5;
}
#noitems img {
    width: 100%;
}
#noitems>div:nth-child(1) {
    padding: 10%;
}
#noitems h1 {
    font-size: 46px;
    font-weight: 900;
    letter-spacing: -3.0px;
    word-spacing: -0.5px;
}
#noitems button {
    width: 25%;
    margin-top: 20px;
    padding: 2%;
    padding-bottom: px;
    border-radius: 50px;
    border: 0px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-width: 1px;
}
#part2 {
    margin-top: 60px;
}
#items {
    width: 100%;
    height: 110px;
    padding: 2%;
    background-color:  #f8f7f5;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 17% 45% 16% 12%;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
    margin-top: 20px;
    color: black;
}
#part2 {
    display: grid;
    grid-template-columns: 66% 28%;
    justify-content: space-between;
}
#items img {
    width: 100%;
    border-radius: 4px;
}
#items>div:nth-child(2){
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#items>div:nth-child(3){
    display: grid;
    height: 40px;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    
}
#items>div:nth-child(3)>div {
    padding-top: 8px;
    font-size: 19px;
}
.change {
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -1px;
    padding-bottom: 8px;
}
.change:hover {
    background-color: black;
    color: white;
}
#items h3,#items p {
    color: black;
}

#subtotal {
    border-radius: 7px;
    box-shadow: 2px 5px 28px 0px #b1b0b0;
    padding: 10%;
    font-size: 16px;
}
#subtotal h3 {
    font-size: 24px;
}
#div1 {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 10% 60% 26%;
    justify-content: space-around;
    height: 45px;
    background-color: #f8f7f5;
    align-items: center;
    text-align: center;
    padding: 2%;
    border-radius: 7px;
    font-weight: 600;
    font-size: 14px;
}
#div1>div:first-child {
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    height: 21px;
    padding-top: 3px;
}
#div1>div:nth-child(2){
    color: red;
}
#div1>div:nth-child(3){
    border: 2px solid black;
    padding: 6px;
    font-size: 13px;
    border-radius: 16px;
}
#div1>div:nth-child(3):hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#div2 {
    display: grid;
    grid-template-columns: 70% 28%;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
}
#div2:nth-child(6){
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.344);
}
#div5 {
    display: grid;
    grid-template-columns: 14% 67% 18%;
    justify-content: space-around;
    text-align: left;
    border: 1px solid  rgba(0, 0, 0, 0.215);
    margin-top: 25px;
    padding: 5%;
    font-size: 14px;
    border-radius: 5px;
}
#div5 h3 {
    font-size: 16px;
    line-height: 22px;
}
#div5 img {
    width: 100%;
    padding-left: -10px;
}
#div5 p {
    color: black;
    margin-top: 10px;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 23px;
}
#div5 input {
    margin-top: 40px;
    cursor: pointer;
}
#div6 {
    margin-top: 20px;
    height: 45px;
    background-color: red;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}
#div6 p{
    width: 50%;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-align: right;
    padding-left: 30px;
}
#preload {
    background: white url(https://online.kfc.co.in/KFC_Loader_Gif.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#removeall {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
}
#removeall>p {
    color: red;
    text-decoration: underline red;
    cursor: pointer;
}
#removeall>div {
    border: 2px solid black;
    padding: 9px;
    border-radius: 20px;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;
}
#removeall>div:hover {
    background-color: black;
    color: white;
}


#offer {
    position: fixed;
    z-index: 3;
    top: 10%;
    left: 17%;
    width: 65%;
    margin: auto;
    height: auto;
    background-color: white;
    border-radius: 5px;
    filter: blur(0px);
    box-shadow: 2px 5px 32px 0px rgba(0, 0, 0, 0.412);
}
body {
    position: relative;
}

#container {
    background-color: hsl(0, 0%, 50%);
    width: 100%;
    position: fixed;
    /* background-color: black; */
    z-index: 1;
    top: 0;
    height: 100%;
    filter: blur(4px);
    opacity: 0.7;
}

#offer1 {
    display: grid;
    grid-template-columns: 10% 50% 10%;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.332);
    padding: -2%;
    font-size: 14px;
    padding: 2%;
    height: 40px;
}
#offer2{
    width: 67%;
    margin: auto;
    margin-top: 30px;
    padding: 6%;
    border: 1px solid rgba(128, 128, 128, 0.332);
    display: grid;
    grid-template-columns: 38% 36% 17%;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 4%;
    padding-bottom: 4%;

}
#offer4 {
    width: 69%;
    margin: auto;
    margin-top: 40px;
    padding: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-color:rgba(128, 128, 128, 0.186) ;
    display: grid;
    grid-template-columns: 20% 50% 14%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
#offer4 img {
    width: 100%;
    border-radius: 5px;
}
#offer2 h3, #offfer4 h3 {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 10px;
}
#offer2 p, #offer4 p {
    color: black;
    font-size: 13px;
    margin-bottom: 5px;
}
#offer2 input {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid black;
    font-weight: 600;
    color: black;
    padding-bottom: 3px;
    font-size: 15px;
    padding-left: 10px;
}
#offer2 div:last-child{
    border: 1px solid black;
    padding-top:10px;
    padding-left: 40px;
    border-radius: 30px;
    height: 30px;
    font-weight: 700;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.186);
    cursor: pointer;
    color: black;
}
#offer4 div:last-child{
    color: black;
    width: 80%;
    border: 1px solid black;
    padding: 14px;
    border-radius: 30px;
    padding-left: 30px;
    background-color: rgba(128, 128, 128, 0.186);
    cursor: pointer;
}
#offer3 {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
}
#offer3 p {
    color: black;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}
#recomend{
    width: 101%;
    height: 450px;
    margin-left: -10%;
    margin-top: 60px;
   background-color:  black;
   padding-top: 90px;
   padding-left: 9%;
   padding-right: 9%;
}
#part3 {
    /* width: 90%; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2%;
    
    justify-content: center;
}
#part3>div {
   height: 120px;
   background-size: cover;
   border-radius: 8px;
   padding-top: 100px;
   padding-left: 14px;
}
#recomend p {
    color: black;
}
#recomend>.part3b {
    width: 117%;
    background-color: rgb(123, 122, 122);
    height: 2px;
    margin-left: -9%;
    margin-top: 90px;
}
#btn {
    width: 53%;
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: 9px;
    border-radius: 25px;
    padding-left: 25px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}
#footer {
    width: 92%;
}


/* The header and footer code */

